<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IProductService" />
                <binding name="WSHttpBinding_IAuthenticationService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/EcommerceSystem/ProductService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IProductService"
                contract="ProductServiceReference.IProductService" name="WSHttpBinding_IProductService">
                <identity>
                    <userPrincipalName value="DESKTOP-AVPDC98\sanjay" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:7000/EcommerceSystem/AuthenticationService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAuthenticationService"
                contract="AuthServiceReference.IAuthenticationService" name="WSHttpBinding_IAuthenticationService">
                <identity>
                    <userPrincipalName value="DESKTOP-AVPDC98\sanjay" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>