<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<services>
			<service name="EcommerceSystemWCFService.ProductService" behaviorConfiguration="ProductServiceBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8080/EcommerceSystem"/>
					</baseAddresses>
				</host>
				<endpoint address="ProductService" binding="wsHttpBinding" contract="EcommerceSystemWCFService.IProductService">

				</endpoint>
			</service>

			<service name="EcommerceSystemWCFService.AuthenticationService" behaviorConfiguration="AuthServiceBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:7000/EcommerceSystem"/>
					</baseAddresses>
				</host>
				<endpoint address="AuthenticationService" binding="wsHttpBinding" contract="EcommerceSystemWCFService.IAuthenticationService">

				</endpoint>
			</service>

		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="ProductServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
				<behavior name="AuthServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>